{{define "page:title"}}Not found -{{end}}

{{define "page:content"}}
<section aria-labelledby="not-found-title">
    <h1 id="not-found-title">File not found</h1>
    <p>The file or folder <code>{{.Content}}</code> does not exist.</p>
    <p><a href="files/{{(parentBreadcrumb .Breadcrumb).RelPath}}">Turn back.</a></p>
</section>
{{end}}