{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "chore", "scope": "deps", "release": "patch" }
        ]
      }
    ],33
    "@semantic-release/github"
  ]
}