{{define "base"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{template "page:title" .}} LSGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/water.light.min.css">
    <link rel="stylesheet" href="/static/css/ls.css">
    <script src="/static/js/sort.js" defer></script>
  </head>
  <body>
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>
            <li><a href="/files">Home</a></li>
            {{range .Breadcrumb}}
            <li><a href="/files/{{.RelPath}}">{{.Name}}</a></li>
            {{end}}
        </ol>
    </nav>
    <main>
        {{template "page:content" .}}
    </main>
  </body>
</html>
{{end}}