<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>LSGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/ls.css">
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css/dist/light.min.css">
  </head>
  <body>
    <h1>Directory listing for {{.Name}}</h1>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Children}}
          <tr>
            <td><a href="{{$.Name}}/{{.Name}}"><img src="/static/icons/{{if .IsDir}}folder{{else}}article{{end}}.svg" alt="{{if .IsDir}}directory{{else}}file{{end}}"> {{.Name}}</a></td>
            <td>{{.Size}} bytes</td>
            <td>{{.ModTime.Format "2006-01-02 15:04:05 MST"}}</td>
            <td>
              {{if not .IsDir}}
              <a aria-label="Download {{.Name}}" href="{{$.Name}}/{{.Name}}?download=1"><img src="/static/icons/download.svg" alt="download"></a>
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </main>
  </body>
</html>
